.search-filter-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-results {
  margin-top: 20px;
}

.search-result {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.result-name {
  font-weight: bold;
  font-family: "Montserrat", "serif";
  color: #0e0f0c;
  font-size: 16px;
  font-style: normal;
}
p {
  font-family: "Montserrat", "serif";
  color: #0e0f0c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.result-email {
  color: #555;
  font-family: "Montserrat", "serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
